.history-videos-page-container{
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas: 
  "sidebar  videoList videoList"
  "sidebar  videoList videoList";
}

.history-videos-page-container .video-listing{
    grid-area: videoList;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill,18rem);
    grid-auto-rows: 18rem; 
    grid-gap: 1rem;
    justify-content: space-evenly;
    margin-top: 1rem;
    position: relative;
}

.history-videos-page-container .info-message{
    position: absolute;
    left: 20rem;
    top: 10rem;
    color: var(--white);
}

.clear-history{
  padding: 5px 10px;
  width: max-content;
  border-radius: 5px;
  cursor: pointer;
}
.clear-history:hover{
   background-color: var(--success);
 
}