.playlist-page-container{
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas: 
  "sidebar  videoList videoList"
  "sidebar  videoList videoList";
}

.playlist-page-container .video-listing{
    grid-area: videoList;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill,18rem);
    grid-auto-rows: 18rem; 
    grid-gap: 1rem;
    justify-content: space-evenly;
    margin-top: 1rem;
    position: relative;
}

.playlist-page-container .info-message{
    position: absolute;
    left: 20rem;
    top: 10rem;
    color: var(--white);
}

@media screen and (max-width: 800px) {
    .playlist-page-container{
       display: flex;
       flex-direction: column;
        
    }
    .playlist-page-container .info-message{
    left: 10vw;
    top: 40vh;
    color: var(--white);
}
}