.search-page-container{
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 7rem max-content;
  grid-template-areas: 
  "sidebar  searchQueryText searchQueryText"
  "sidebar  videoList videoList";
  
}

.video-listing{
    grid-area: videoList;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill,18rem);
    grid-auto-rows: 18rem; 
    grid-gap: 1rem;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.search-query-text{
   grid-area: searchQueryText;
}

.info-message{
    position: absolute;
    left: 20rem;
    top: 15rem;
    color: white;
}